html {
    font-size: 56%;
}
:root {
    --color-font-one: #5c8088;
}
body {
    color: #5c8088;
}

/* HEADER */

    .global-logo .is-title {
    font-size: 2rem;
    max-width: 200px;
}
    .header-nav {
    z-index: 999;
}
    .header-wrap {
    min-height: 40px;
    padding-top: 0vh;
    padding-bottom: 0vh;
}
    .header-wrap li, .header-wrap a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}
    .header-wrap, .header-checkbox:checked~nav {
    min-height: 40px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    background: #41556b;
}
    .header-toggle .bar:nth-child(1) {
    top: -7px;
    background-color: #fff;
}
    .header-toggle .bar:nth-child(2) {
    background-color: #fff;
}
    .header-toggle .bar:nth-child(3) {
    top: 7px;
    background-color: #fff;
}
    .header-nav svg {
    fill: #fff;
}

/* HEADER CARD */

    .kg-header-card.kg-style-image a.kg-header-card-button, .kg-header-card.kg-style-image h1.kg-header-card-header, .kg-header-card.kg-style-image h3.kg-header-card-subheader {
    z-index: 998;
}
    .kg-header-card {
    padding: 12vmin 4em 8vmin;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: left;

}
    .kg-header-card.kg-style-image::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg,#00000033,#ffffff36);
}
    .kg-header-card.kg-style-image {
    min-height: 600px;
}
    .kg-header-card:not(.kg-style-light) h1.kg-header-card-header, .kg-header-card:not(.kg-style-light) h3.kg-header-card-subheader {
    color: #fff;
}
    .kg-header-card h1.kg-header-card-header {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -.01em;
    margin: 0;
}

/* BUTTON */

    .global-button::before, .global-button.is-cta::before {
    background-color: #ffffff;
    border: 1px solid #5d8088;
}

/* POST */
    .post-content {
    margin: 12vh auto 15vh;
}
    .post-content h2 {
    font-size: 4.2rem;
    color: #73969e;
}
    .post-content h3 {
    font-size: 3rem;
    color: #73969e;
}
    .post-content p {
    text-indent: 7px;
}
    .post-header-wrap {
    margin-top: 10vh;
}
    .hero-wrap {
    margin-top: 10vh;
}
    .post-header-wrap.is-center {
    text-align: left;
}
    .post-header-wrap.is-center .post-excerpt {
    margin-right: 0;
    margin-left: 0;
}
    .post-content blockquote {
    color: #88aab2;
    border-left: 3px solid #88aab2;
    font-size: 2.4rem;
}
    .post-content a {
    color: #32c3e3;
}
    .post-content .kg-button-card .kg-btn, .post-content .kg-product-card .kg-product-card-button, .post-content .kg-header-card .kg-header-card-button {
    background-color: #ffffff;
    border: 1px solid #5d8088;
    color: #5d8088;
}
    .post-sidebar .subscribe-form.is-sticky {
    background-color: #eef2f3;
}
    .subscribe-form {
    background-color: #eef2f3;
}
    .post-content hr {
    border-top: 1px dotted #82bac7;
}
    .post-content .kg-callout-card .kg-callout-emoji {
    display: none;
}
    .subscribe-title {
    color: #5d8088;
}

/* FOOTER */

    .footer-nav-column small, .footer-nav-column li {
    font-size: 1.7rem;
}
    .footer-section .subscribe-form {
    background: #daebf0;
}


/* RESPONSIVE */
    
@media (max-width: 1024px) {
    .kg-header-card h1.kg-header-card-header {
    font-size: 4em;
}
    .header-checkbox:checked~nav {
    text-align: left;
}
    .header-nav nav li {
    margin-left: 0.5vw;
}
    .header-nav a {
    padding: 8px;
}
    .global-logo .is-title {
    font-size: 1.5rem;
    max-width: 180px;
}
    .header-logo {
    margin: 11px .5vw 11px 0;
}
    .post-header-wrap {
    margin-top: 10vh;
}
}

@media (max-width: 768px) {
    .post-content h2 {
    font-size: 2.8rem;
}
    .post-content h3 {
    font-size: 2.2rem;
}
}

@media (max-width: 640px) {
    .kg-header-card {
    padding: 12vmin 1em;
}
    .kg-header-card h1.kg-header-card-header {
    font-size: 2em;
}
    .kg-header-card h2.kg-header-card-header {
    font-size: 2em;
}
    .kg-header-card.kg-style-image {
    min-height: 320px;
}
    .item-title {
    font-size: 2rem;
}
}

@media (max-width: 480px) {
    .header-wrap {
    margin-top: 0px;
    margin-bottom: 0px;
}
}
