html {
    font-size: 56%;
}
:root {
    --color-font-one: #5c8088;
}
body {
    color: #5c8088;
}

/* HEADER */

    .header-nav {
    z-index: 999;
}
    .header-wrap {
    min-height: 40px;
    padding-top: 0vh;
    padding-bottom: 0vh;
}
    .header-nav a {
    border-right: 1px solid #5c8088;
    padding-right: 10px;
}
    .header-wrap li, .header-wrap a {
    font-size: 1.5rem;
    text-transform: uppercase;
}
    .header-toggle .bar {
    height: 3px;
}
    .header-toggle .bar:nth-child(1) {
    top: -7px;
    background-color: #5c8088;
}
    .header-toggle .bar:nth-child(2) {
    background-color: #5c8088;
}
    .header-toggle .bar:nth-child(3) {
    top: 7px;
    background-color: #5c8088;
}

/* HEADER CARD */

    .kg-header-card.kg-style-image a.kg-header-card-button, .kg-header-card.kg-style-image h1.kg-header-card-header, .kg-header-card.kg-style-image h3.kg-header-card-subheader {
    z-index: 998;
}
    .kg-header-card {
    padding: 12vmin 4em;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
    .kg-header-card.kg-style-image::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg,#5a5a5a40,#5a5a5a40);
}
    .kg-header-card.kg-style-image {
    min-height: 600px;
}
    .kg-header-card:not(.kg-style-light) h1.kg-header-card-header, .kg-header-card:not(.kg-style-light) h3.kg-header-card-subheader {
    color: #fff;
}
    .kg-header-card h1.kg-header-card-header {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -.01em;
    margin: 0;
}

/* BUTTON */

    .global-button::before, .global-button.is-cta::before {
    background-color: #d9e9ee;
}

/* POST */

    .post-content p {
    text-indent: 6px;
}
    .post-content h3 {
    color: #73969e;
}
    .post-header-wrap.is-center {
    text-align: left;
}
    .post-header-wrap.is-center .post-excerpt {
    margin-right: 0;
    margin-left: 0;
}
    .post-content blockquote {
    color: #82b9c7;
    border-left: 3px solid #82bac7;
}
    .post-content a {
    color: #32c3e3;
    text-decoration: none;
}
    .post-content .kg-button-card .kg-btn, .post-content .kg-product-card .kg-product-card-button, .post-content .kg-header-card .kg-header-card-button {
    background-color: #d9eaee;
}
    .post-sidebar .subscribe-form.is-sticky {
    background-color: #daebf0;
}
    .post-content hr {
    border-top: 1px dotted #82bac7;
}
    .post-content h3 {
    font-size: 2.8rem;
}
    .post-content .kg-callout-card .kg-callout-emoji {
    display: none;
}

/* FOOTER */

    .footer-nav-column small, .footer-nav-column li {
    font-size: 1.7rem;
}
    .footer-section .subscribe-form {
    background: #daebf0;
}


/* RESPONSIVE */
    
@media (max-width: 1024px) {
    .kg-header-card h1.kg-header-card-header {
    font-size: 4em;
}
    .header-checkbox:checked~nav {
    text-align: left;
}
    .header-nav a {
    border-right: 0px solid red;
}
    .header-nav nav li {
    margin-left: 0.5vw;
}
}

@media (max-width: 768px) {
    .post-content h3 {
    font-size: 2.2rem;
}
}

@media (max-width: 640px) {
    .kg-header-card {
    padding: 12vmin 1em;
}
    .kg-header-card h1.kg-header-card-header {
    font-size: 2em;
}
    .kg-header-card h2.kg-header-card-header {
    font-size: 2.6em;
}
    .kg-header-card.kg-style-image {
    min-height: 320px;
}
    .item-title {
    font-size: 2rem;
}
}
