<style>
    :root {
    --color-font-one: #496065;
}
body {
    color: #496065;
}
    .header-wrap li, .header-wrap a {
    text-transform: uppercase;
    font-size: 1.5rem;
}
    h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
    .post-title {
    letter-spacing: 0.02em;
        text-transform: uppercase;
        word-spacing: 4px;
}
    .hero-title {
    font-weight: normal;
    text-transform: uppercase;
        word-spacing: 4px;
        letter-spacing: 0.025em;
}
    .post-header-wrap.is-center {
    text-align: left;
}
    .item-title {
    font-weight: normal;
}
    .post-header-wrap.is-center .post-excerpt {
    margin-right: auto;
    margin-left: 0;
}
    .post-content {
    font-size: 1.85rem;
    max-width: 840px;
    margin: 5vh auto 15vh;
}
    .post-content h2 {
    line-height: 1.2;
    margin-top: 2.4em;
    margin-bottom: 24px;
    }
    .post-content h3 {
    line-height: 1.2;
    margin-top: 1.2em;
    margin-bottom: 24px;
}
    .post-content hr {
    border-top: 2px solid #ffd27a;
}
    .post-content a {
    color: #8c5379;
    }
    .subscribe-form {
    border-left: 15px solid #ffd27a;
}
    .post-share > div a {
    background-color: #ffd37b;
}
@media (max-width: 1024px){
.post-title {
    font-size: 3rem;
    margin-bottom: 3vh;
    }
    .post-content h2{
    font-size: 2.6rem;
    }
    .post-content h3{
    font-size: 2.1rem;
    }
    .post-content {
    font-size: 1.5rem;
    }
    .post-excerpt {
    margin-top: 2.2vh;
    font-size: 1.8rem;
}
    .item-title {
        font-size: 1.9rem;
    }
    .header-nav a {
    padding: 8px;
}
    }

.global-wrap, .global-content {
    min-height: 100vh;
    margin: auto;
}
.global-wrap, .global-content {
    min-height: 100vh;
    margin: auto;
}
.header-wrap {
    padding: 0 3vh;
}
.global-logo.is-header img {
    height: var(--height-logo-header);
    position: fixed;
    left: 50%;
    top: 12px;
    transform: translate(-47%);
}
.header-search.is-mobile svg {
    position: fixed;
    top: 20px;
    left: ;
    */: ;
    width: 20px;
    left: 20px;
}
    .post-content blockquote {
    border-left: 6px solid #ffd27a;
}

@media (max-width: 1024px) {
.header-toggle {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 20px;
    }
    .header-section {
     height: 40px;
    }
    .header-search.is-mobile svg {
        top:10px;
    }
    .header-toggle {
        top: 2px;
    }
    .global-logo.is-header img {
        top: 2px;
    }
    .header-toggle .bar:nth-child(1) {
        top: -8px;
    }
    .header-toggle .bar:nth-child(3) {
    top: 8px;
}
    }
    
    .header-section {
    position: fixed;
    z-index: 999;
    background: #f1f4f6;
    width: 100%;
    border-bottom: 1px solid #d5dee6;
}
    .global-main {
    flex: 1 0 auto;
    width: 100%;
    margin-top: 100px;
    max-width: 1600px;
}
    .header-wrap li, .header-wrap a {
    text-transform: uppercase;
    font-size: 1.35rem;
}
    .header-wrap {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    max-width:1600px;
    margin: auto;    
}
  .post-progress, .post-progress[value]::-webkit-progress-bar {
    z-index: 999;
}  
    
</style>